.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
    url(../img/nat-4.jpg); /*première image de fond un dégradé, ensuite une image*/
    background-size: cover;
    transform: skewY(-7deg); /*Inclinaison de la section*/ 
    margin-top: -11rem;  

    & > * { /* sélection de tous les enfants*/
        transform: skewY(7deg); /*supprime l'inclinaison précédente*/ 
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem;
    margin-top: -11rem;  
}