/* réinitialisation */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*héritage par rapport à body*/
}

html{
    //Définition de l'équivalent d'1 REM
    font-size: 62.5%; /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
}

body{
    box-sizing: border-box;
}