.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1); 
    background-color: rgba($color-white, .6); 
    border-radius: $radius;  
    padding: 6rem; 
    padding-left: 9rem; 
    font-size: $default-font-size; 
    transform: skewX(-12deg);  

    &__shape{
        width: 15rem;
        height: 15rem;
        float: left;
        //permet de définir la forme que prend le texte autour d'un élément
        -webkit-shape-outside: circle(50% at 50% 50%);  //radius puis position du centre du cercle
        shape-outside: circle(50% at 50% 50%);  //radius puis position du centre du cercle
        //transforme une forme en texte
        -webkit-clip-path: circle(50% at 50% 50%) ; 
        clip-path: circle(50% at 50% 50%) ;
        //rajoute une marge à un élément flottant
        transform: translateX(-3rem) skewX(12deg); 
        position: relative; // parent de la figcaption
    }

    &__img{ 
        height: 100%; //100% de la hauteur du parent 
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;  //résoud de nombreux problèmes dû à l'arrière plan
        transition: all .5s;  
    }

    &__text{
        transform: skewX(12deg); 
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);  
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center; 
        opacity: 0;
        transition: all .5s; 
        backface-visibility: hidden; //évite le tressaillement avec un background
    }

    &:hover &__caption{ //quand on survol la souris la cpation devient ...
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img{
        transform: translateX(-4rem) scale(1); 
        filter: blur(3px) brightness(80%); //filtre css flou et luminosité
    }

}